@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

h3 {
  font-size: 1.3rem;
  text-align: center;
}

img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.mobile-container {
  width: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: auto;
  max-height: 95vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-family: inherit;
}

header button {
  background-color: transparent;
  border: none;
  color: #aaa;
  font-size: 1.5rem;
  margin-left: 10px;
}

.meal {
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #3333331a;
  cursor: pointer;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  top: 1rem;
  background-color: #fff;
  padding: 0.25rem 0.5rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.new-recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.new-recipe button {
  background-color: rgb(228, 195, 248);
  font-size: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  max-width: 700px;
  max-height: 95vh;
  overflow: auto;
  width: 100%;
  position: relative;
}

.close-popup {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}
